{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
    <link rel="icon" href="{% static 'store/img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
            <div>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'store:index' %}" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="{% url 'store:about_delivery' %}" class="nav-link px-2 text-white">Доставка</a></li>
                    <li><a href="{% url 'store:about_payment' %}" class="nav-link px-2 text-white">Оплата</a></li>
    <!--                <li><a href="{% url 'store:about' %}" class="nav-link px-2 text-white">О нас</a></li>-->
    <!--                <li><a href="{% url 'store:faq' %}" class="nav-link px-2 text-white">FAQs</a></li>-->
                </ul>

            </div>

            <div>
                <h1 style="font-family: Quartz; font-size: 50px">Case Story</h1>

            </div>

            <div>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

            </div>

<!--            <div class="text-end">-->
<!--                <a href="{% url 'store:login' %}">-->
<!--                    <button type="button" class="btn btn-outline-light me-2">Войти</button>-->
<!--                </a>-->
<!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
<!--            </div>-->
        </div>

    </div>

</header>



<!--{% block mainmenu %}-->
<!--<ul>-->
<!--    {% for m in menu%}-->
<!--    <li>{{ m }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endblock mainmenu %}-->

{% block content %}
{% endblock %}




<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li><a href="{% url 'store:index' %}" class="nav-link px-2 text-white">Главная</a></li>
        <li><a href="{% url 'store:about_delivery' %}" class="nav-link px-2 text-white">Доставка</a></li>
        <li><a href="{% url 'store:about_payment' %}" class="nav-link px-2 text-white">Оплата</a></li>
        <li><a href="{% url 'store:about' %}" class="nav-link px-2 text-white">О нас</a></li>
        <li><a href="{% url 'store:faq' %}" class="nav-link px-2 text-white">FAQs</a></li>

    </ul>
    <p class="text-center text-muted">&copy; 2021 Case Story, Inc</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'store/js/script.js' %}"></script>

</body>
</html>