{% extends 'store/base.html' %}
{% block content %}


<!--навбар с брендами телефонов-->

<div class="album py-5 bg-light">
<ul class="nav nav-tabs" style="justify-content: center" >

{% for brand in phone_brands %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ brand }}</a>
        <ul class="dropdown-menu">
            {% for phone in phones %}
                {% if phone.brand == brand %}
                    <li><a class="dropdown-item" href="#">{{ phone.model }}</a></li>
<!--                    <li><a class="dropdown-item" href="{% url 'phone' %}">{{ phone.model }}</a></li>-->
                {% endif %}
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Все модели</a></li>
        </ul>
    </li>
{% endfor %}

</ul>
</div>


<div class="album py-5 bg-light" id="phone-selected">
    <h2 align="center">Чехлы для телефона </h2>
</div>


<!--# плитка категорий-->

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for c in cats %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if c.image %}
                            <p><img src='{{ c.image.url }}'></p>

                        {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        {% endif %}

                        <div class="card-body">
                            <p class="card-text">{{ c.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

<!--<script>-->
<!--alert('Script is working!');-->
<!--    let phoneArray = document.getElementsByClassName("dropdown-item");-->

<!--    let selectphoneFunc = function(){-->

<!--        let phoneDiv = document.getElementById("phone-selected");-->
<!--        alert('hello!');-->
<!--        let phoneNameLabel = document.createElement("h2");-->
<!--        phoneNameLabel.innerHTML = "Телефон";-->
<!--        phoneDiv.append(phoneNameLabel);-->

<!--    }-->

<!--    for (let i = 0;i < phoneArray.length; i++){-->
<!--    phoneArray[i].addEventListener('click', selectphoneFunc);-->
<!--</script>-->

