{% extends 'store/base.html' %}
{% block content %}


<!--навбар с брендами телефонов-->

<div class="album py-5 bg-light">
<ul class="nav nav-tabs" style="justify-content: center" >

{% for brand in phone_brands %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ brand }}</a>
        <ul class="dropdown-menu">
            {% for phone in phones %}
                {% if phone.brand == brand %}
                    <li><a class="dropdown-item" id="{{ phone.model }}" href="#">{{ phone.model }}</a></li>
<!--                    <li><a class="dropdown-item" href="{% url 'phone' %}">{{ phone.model }}</a></li>-->
                {% endif %}
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Все модели</a></li>
        </ul>
    </li>
{% endfor %}
</ul>
</div>
<!--конец навбара-->


<div class="album py-5 bg-light" id="phone-selected">
    <h2  id="h2-phone-selected" align="center">Выберите модель телефона </h2>
</div>



<div id="card-side-menu" style="display: flex; justify-content: flex-start">

    <!--сайдбар-->
    <div id="sidebar">
        <form method="GET">
            {% csrf_token %}
            <nav class="nav flex-column">
                <h5 id="side-bar-phone-name">Телефон не выбран</h5>
                <h5>Категории</h5>

                {{ form_filter.as_p }}
                <button type="submit" class="btn btn-secondary">Показать</button>
            </nav>
        </form>
    </div>


    <!--карточки товара-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for p in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            {% if p.image %}
                                <p><img width="360px" height="360px" src='{{ p.image.url }}'></p>
                            {% else %}
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                            {% endif %}

                            <div class="card-body">

                                <p class="card-text">{{p.category_id}} "{{ p.name }}"</p>
                                <div class="d-flex justify-content-between align-items-center">
<!--                                    <a href="/product/{{ p.slug }}">-->
                                    <a href="{{ p.get_absolute_url }}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


