{% extends 'store/base.html' %}
{% block content %}

<div class="row featurette" style="margin-top: 20px">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Чехол "{{product.name}}" <span class="text-muted">Ждет тебя!</span></h2>
        <!--    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>-->
        <p class="lead">{{product.description}}
        <h3>Цена: {{product.price}} руб.</h3>
        <p class="lead">Яркий, стильный, приятный на ощупь, этот чехол защитит смартфон и будет радовать вас долгое
            время. Изготовлен из высокотехнологичного TPU полимера премиум класса. Он не выгорает на солнце, обладает
            повышеной износостойкостью, обеспечивает удобный доступ к технологическим разъёмам и функциональным
            клавишам. Чехол не скользит в руках и обеспечивает полную защиту Вашего смартфона от пыли, ударов, царапин и
            других механических повреждений. Эксклюзивный принт разработан дизайнерами студии Артемия Лебедева. Купив
            этот чехол, вы получите надежную защиту смартфона, а так же стильный аксессуар, который позволит подчеркнуть
            вам свою индивидуальность!
        <p></p>
        <div class="d-flex justify-content-between align-items-center" style="margin-top: 50px">

<!--            <form method="POST">-->
<!--                {% csrf_token %}-->
<!--                <div style="flex-direction: row">-->
<!--                    {{add_to_cart_form.as_p }}-->
<!--                    <button type="submit" class="btn btn-secondary">В корзину!</button>-->
<!--                </div>-->
<!--            </form>-->

            <p class="price">{{ product.price }}</p>
            <form id="cartForm" action= "{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
<!--                <input type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" value="В корзину">-->


                <input type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" value="В корзину">
            </form>


            <a href="{% url 'store:index' %}">
                <button type="button" class="btn btn-outline-secondary">Назад</button>
            </a>

        </div>

    </div>
    <div class="col-md-5 order-md-1">
        {% if product.image %}
        <p><img width="500px" height="500px" src='{{ product.image.url }}'></p>
        {% else %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Изображение {{product.name}}</title>
            <rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
        {% endif %}

    </div>

        <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Товар добавлен</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <p>Товар добавлен в корзину.</p>
          </div>
          <div class="modal-footer">
              <a href="{% url 'store:index' %}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Продолжить покупки</button>
              </a>
              <a href="{% url 'cart:cart_detail' %}">
                <button type="button" class="btn btn-primary">Перейти в корзину</button>
              </a>
          </div>
        </div>
      </div>
    </div>


</div>

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#cartForm').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'cart:cart_add' product.id %}",

              });
              return false;
          });
      })
  </script>

{% endblock javascript %}

{% endblock %}